extends layout

block content
  h1= title
  - var result1 = results
  div(class="container-fluid")
     div(class="row m-1")
        each item,index in result1
            - let destination = `dispatch(\"/cars/update?id=${item._id}\")`
            div(class="row-sm-2", class="m-1") Car:  #{item.carBrand}(#{item.carcolor}) is #{item.carcost}
             button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
      function dispatch(path){
         window.location.href=path
      }
