extends layout

block content
  h1= title
  - var result1= results
  div.container-fluid
     div.row
        each item,index in result1
            div.col-sm-2(onclick=`buy(${index})`) CarBrand: #{item["carBrand"]}  <br>  CarColor: #{item["carcolor"]} <br> CarCost: #{item["carcost"]} 
  script.
      function buy(inx){
         alert("you purchased item "+(inx+1))
      }